name: Test

on: [pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:

  test:
    runs-on: ${{ matrix.os }}
    env:
      RUST_LOG: electrumd=debug
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-20.04 ]
        feature: [ "4_1_5" ]

    steps:
      - run: df -h
      - uses: actions/checkout@v2
      - uses: Swatinem/rust-cache@v1.2.0
        with:
          key: ${{ matrix.feature }}${{ matrix.os }}
        if: ${{ matrix.os != 'macos-10.15' }} # issue with hard-links on mac
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - run: echo "TEMPDIR_ROOT=/dev/shm" >> $GITHUB_ENV
        if: ${{ matrix.os != 'macos-10.15' }}
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --features ${{ matrix.feature }}
      - run: echo "ELECTRUMD_EXE=$(find ./target/debug -name electrum.AppImage)" >> $GITHUB_ENV
      - uses: actions-rs/cargo@v1
        with:
          command: test


  cosmetics:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: Swatinem/rust-cache@v1.2.0
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          profile: minimal
          components: rustfmt, clippy
      - name: fmt
        run: cargo fmt -- --check
      - name: clippy
        run: cargo clippy -- -D warnings

  rust-version:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        toolchain: [ "1.41.1", "stable", "nightly" ]

    steps:
      - uses: actions/checkout@v2
      - uses: Swatinem/rust-cache@v1.2.0
        with:
          key: ${{ matrix.version }}
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: build
